.edgar-campaign-page-title {
    display: grid;
    grid-template-columns: auto 12.25rem;
}

.edgar-campaign-page-title .edgar-campaign__create_folder {
    display: flex;
    align-items: center;
}

td.edgarezcampaign-td-icon,
td.edgarezcampaign-td-icon a{
    padding-right: 0;
    padding-left: 0;
}

.edgarezcampaign-form-campaign button.btn--open-udw {
    padding: 0.4rem 1.25rem;
    font-weight: bold;
    color: #fff;
    background-color: #f15a10;
    border-color: #f15a10;
    white-space: normal;
    cursor: pointer;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-top: 0.4rem;
}

.btn.disabled {
    cursor: not-allowed;
}
